{% extends "layout.html" %}

{% block main %}

    {% if amount %}
    <p>You've added ${{ amount }} to your account. Current cash balance: ${{ new_total }}</p>
    {% else %}

        <form action="/addcash" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="amount" placeholder="$ Amount" type="number">
                <button class="btn btn-primary" type="submit" style="margin-top: 15px">Add cash</button>
            </div>
        </form>
    {% endif %}

{% endblock %}
