{% extends "layout.html" %}

{% block main %}

<table>
    <tr>
        <th>Symbol</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Side</th>
        <th>Timestamp</th>
    </tr>

    {% for transaction in transactions %}
        <tr>
            <th>{{ transaction["symbol"]  }}</th>
            <th>{{ transaction["shares"]  }}</th>
            <th>{{ transaction["price"] | usd  }}</th>
            <th>{% if transaction["side"] == "B" %}Buy{% else %}Sell{% endif %}</th>
            <th>{{ transaction["timestamp"]  }}</th>
        </tr>
    {% endfor %}
</table>

{% endblock %}
