.topnav {
    background-color: #333;
    overflow: hidden;

    margin: auto;
    width: 75%;
    padding: 10px;
    text-align: center;
  }

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #dad7cd;
}

.topnav a.active {
    color: #ffc300;
}

.box {
    border: 1px solid black;
    padding: 10px;
    margin: 5% 25px 5% 25px;
    text-align: center;
  }

