{% extends "layout.html" %}

{% block main %}

    <table>
        <tr>
          <th>Stock</th>
          <th>Symbol</th>
          <th>Shares owned</th>
          <th>Current price</th>
          <th>Holding value<h/>
        </tr>

          {% for transaction in transactions %}
            <tr>
              <td>{{ transaction.name  }}</td>
              <td>{{ transaction.symbol  }}</td>
              <td>{{ transaction.total_shares | usd  }}</td>
              <td>{{ transaction.price | usd  }}</td>
              <td>{{ (transaction.price * transaction.total_shares) | usd }}</td>
            </tr>
          {% endfor %}

          <tr>
            <td colspan="4" allign="right">Cash</td>
            <td>{{ users_cash | usd }}</td>
          </tr>
          <tr>
            <td colspan="4" allign="right">Grand Total</td>
            <td>{{ grand_total | usd }}</td>
          </tr>
      </table>

{% endblock %}
